<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Pinguin2001.HorizonBrowser"
    Publisher="CN=AE1D0726-66DB-43AE-842B-D94A37F839FE"
    Version="20.0.1500.0" />

  <mp:PhoneIdentity PhoneProductId="c663598d-2698-4640-b0b0-b7bd1100f7eb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HorizonBrowser</DisplayName>
    <PublisherDisplayName>Pinguin2001</PublisherDisplayName>
    <Logo>Assets\AppIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Horizon"
        Description="Horizon is your next-gen webbrowser, lightning fast and open-source, powered by WinUI"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\AppIcons\Square44x44Logo.png">
		  <uap:DefaultTile Wide310x150Logo="Assets\AppIcons\Wide310x150Logo.png" ShortName="Horizon" Square71x71Logo="Assets\AppIcons\SmallTile.png" Square310x310Logo="Assets\AppIcons\LargeTile.png">
			  <uap:ShowNameOnTiles>
				  <uap:ShowOn Tile="square150x150Logo"/>
				  <uap:ShowOn Tile="wide310x150Logo"/>
				  <uap:ShowOn Tile="square310x310Logo"/>
			  </uap:ShowNameOnTiles>
		  </uap:DefaultTile>
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="http">
					<uap:DisplayName>Horizon</uap:DisplayName>
					<uap:Logo>Assets/FileIcons/link.png</uap:Logo>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="https">
					<uap:DisplayName>Horizon</uap:DisplayName>
					<uap:Logo>Assets/FileIcons/link.png</uap:Logo>
				</uap:Protocol>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
